<% include ../partials/header.ejs %>
	<div class="container-fluid">
		<div class="">
			<a href="/team/add" title="Add a New Team">Add a Team</a>
		</div>
	    <div class="table-wrapper">
	        <% if (teams.length > 0) {%>
	            <table class="table table-hovered">
	                <thead class="thead-dark">
	                    <tr>
	                        <th scope="col">ID</th>
	                        <th scope="col">Team Name</th>
	                        <th scope="col">Short Name</th>
	                        <th scope="col">Image</th>
	                        <th scope="col">Country</th>
	                        <th scope="col">Action</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <% teams.forEach((team, index) => { %>
	                        <tr>
	                            <th scope="row"><%= team.id %></th>
	                            <td><%= team.name %></td>
	                            <td><%= team.short_name %></td>
	                            <td><img src="/assets/img/teams/<%= team.image %>" class="player-img" alt=""></td>
	                            <td><%= team.country %></td>
	                            <td>
	                                <a href="/team/edit/<%= team.id %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
	                                <a href="/team/delete/<%= team.id %>" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure to delete?')">Delete</a>
	                            </td>
	                        </tr>
	                    <% }) %>
	                </tbody>
	            </table>
	        <% } else { %>
	            <p class="text-center">No Teams found. Go <a href="/team/add" >here</a> to add teams.</p>
	        <% } %>
	    </div>
	</div>
</div>
</body>
</html>